@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico&display=swap');

body {
    background-color: rgb(48, 1, 1);
    color: white;

    main {
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 4rem;
            font-weight: 500;
            color: white;
            font-family: 'Pacifico', cursive;


            #pomo {
                color: rgb(230, 76, 76);
            }

            #finest {
                color: rgb(39, 185, 39);
            }
        }

        .interval-container {
            display: flex;
            margin: 0 40px;
            align-items: center;
        }

        .interval-length-container {
            display: flex;
        }

        .interval-length {
            font-size: 2rem;
            margin: 0 10px;
        }

        .timer-container {
            border: 2px solid black;
            background-color: rgb(204, 189, 189);
            margin-top: 40px;
            padding-top: 80px;
            border-radius: 25px;
            width: 240px;
            height: 240px;
            vertical-align: middle;
            text-align: center;
            box-shadow: 3px 3px 3px black;
            padding: 10px;
            color: rgb(51, 0, 0);
            background-image: url("/src/img/55-tomato.png");
            background-size: cover;
            background-repeat: no-repeat;


            .timer {
                font-size: 2rem;
                font-family: 'Anton', sans-serif;
                color: white;
            }
        }
    }
}

button {

    margin: 0 10px;
    height: 25px;
    background-color: rgb(97, 8, 8);
    border: none;
    cursor: pointer;
    pointer-events: auto;
    color: #eee;
    width: 70px;
    border-radius: 7px;
    border: 2px solid rgb(255, 254, 254);
    align-items: center;
}

button:hover {
    border: 2px solid rgb(2, 2, 2);
    color: rgb(11, 49, 1);
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
}

h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
}

.timer-actions {
    margin-top: 20px;
    text-align: center;
}

button:disabled {
    cursor: not-allowed;
}

#work {
    margin-top: 38%;
    font-size: 40px;
    color: white;
    text-shadow: 6px 5px 4px black;
}

img {
    width: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
}

#minSec {
    border: 1px solid rgb(2, 0, 0);
    margin: auto;
    padding: 5px;
    width: 40%;
    background-color: rgb(49, 15, 15);
    border-radius: 70%;

}